extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul(id="navi")
                    a(href="/")
                        li Dane podstawowe
                    a(href="/admin")
                        li Panel moderatora
            article
                h2 Panel moderatora
                p Wybierz jedną z dostępnych opcji
                ul(id="menu")
                    a(href="/admin/insert_movie")
                        li Dodaj film
                    a(href="/admin/insert_seance")
                        li Dodaj seans
                    a(href="/admin/update_movie")
                        li Modyfikuj film
                    a(href="/admin/update_seance")
                        li Modyfikuj seans
                    a(href="/admin/delete_movie")
                        li Usuń film
                    a(href="/admin/delete_seance")
                        li Usuń seans
            footer #{title} 2024
