extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul
                    a
                        li Dane podstawowe
                    a
                        li Panel administratora
            article
                h2 Usuń seans
            footer #{title} 2024