extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul(id="navi")
                    a
                        li Dane podstawowe
                    a
                        li Panel moderatora
            article
                h2 Dodaj nowy seans
                p Uwaga! Dodawany seans dotyczy istniejącego filmu
            footer #{title} 2024
