extends layout

block content
    html(lang="pl")
        head
            meta(charset="UTF-8")
        body
            header
                h1= title
            nav
                ul(id="navi")
                    a(href="/")
                        li Dane podstawowe
                    a(href="/admin")
                        li Panel moderatora
            article
                p= notification
            footer #{title} 2024